{% extends 'base.html.twig' %}

{% block title %}Hello BiographiebackController!{% endblock %}

{% block body %}


    {% for biographie in biographies %}

        <p>{{biographie.texte}}</p>

    {% endfor %}


{% endblock %}

