{% extends 'base.html.twig' %}

{% block title %}Hello BiographiebackController!{% endblock %}

{% block body %}

    <div class="container">
        {% for biographie in biographies %}

            <p>{{biographie.texte}}</p>

        {% endfor %}
    </div>


{% endblock %}

