{% extends 'back.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% if users is not empty %}
        <div class="row">
            {% for user in users %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.pseudo }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                        <p class="card-text">{{ user.roles|join(', ') }}</p>
                        <a href="{{ path('editRole', {'id': user.id}) }}">Changer de rôle</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}
