{% extends 'back.html.twig' %}

{% block title %}Hello AlbumbackController!{% endblock %}

{% block body %}
    {{ form_start(form_edit) }}<!--From d'édition d'album-->
        {{ form_row(form_edit.Nom) }}
        {{ form_row(form_edit.date) }}
        {{ form_row(form_edit.Description) }}

        <button type="submit" class="btn">Modifier</button>

{% endblock %}