{% extends 'back.html.twig' %}

{% block title %}Hello BiographiebackController!{% endblock %}

{% block body %}

    <h2>{{biographie.titre}}</h2>

    <p>{{biographie.texte}}</p>

    {{form (form_edit)}} <!--Form d'édition de la biographie-->
    <a href="{{ path('biographieback_delete', {'id': biographie.id}) }}" class="btn btn-danger">Supprimer</a>




{% endblock %}
